.page {
    &-faq{

        main{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-y: hidden;
        }

        .box__btn{
            display: flex;
            justify-content: center;
            padding-bottom: 3.5rem;
        }
    }
}


@media (width <= 767px) {

    .page {
        &-faq{
            //background-image: url("../img/bg/bg-faq-mobile-2x.png");
            main{
                min-height: 100vh;
            }
        }
    }

}

@media (width >= 768px) {
    .page {
        &-faq {

            
            //background-image: url("../img/bg/bg-faq.png");

           background-image: url("../img/bg2/bg-faq.png");

           
        }
    }
}