.page {
    position: relative;

    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100vw;
    min-height: 100vh;

    &::after {
        content: "";
        position: fixed;
        z-index: -1;
        inset: 0;
        background: linear-gradient(180deg, #26D6FD 0%, #0035BA 100%);
    }

    &-home {
        //background-image: url("../img/bg/bg-home-mobile-2x.png");
    }
}

.home {
    &__info-price {
        width: 100%;

        .price {
            &__img {
                width: 27rem;
                height: 22.3rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .info-text {
            padding-bottom: 1.8rem;
        }
    }
}

@media (width <= 767px) {
    .page {

        .home {
            &__info {
                &-content {
                    background-color: rgb(255 255 255 / 90%);
                    border-radius: 2.6rem;
                    padding: .8rem 1.3rem;
                    text-align: center;
                    margin-bottom: 1rem;

                    .btn {
                        margin-top: .8rem;
                    }
                }

                &-price {
                    position: relative;

                    .info {
                        padding-bottom: 1rem;

                        .title {
                            text-align: center;
                        }

                        .content {
                            p:not(:first-child) {
                                width: 17.2rem;
                            }
                        }
                    }

                    .price {
                        background-color: rgba(255, 255, 255, 0.9);
                        border-radius: 2.6rem;
                        padding: 0.8rem 1.3rem;
                        text-align: center;
                        padding-bottom: 7rem;

                        &__img {
                            position: absolute;
                            width: 20rem;
                            height: 16.5rem;
                            top: 9.5rem;
                            right: 4rem;
                        }

                        .info-text {
                            width: 21rem;
                            margin: 0 auto;
                        }

                        .btn{
                            position: relative;
                            z-index: 2;
                        }
                    }
                }
            }

            &__footer-img {
                width: 100%;
                margin-top: -12rem;
                z-index: 1;
                position: relative;
                overflow: hidden;

                img {
                    width: 52rem;
                    height: auto;
                    object-fit: cover;
                    object-position: -10rem;
                }
            }
        }
    }
}

@media (width >= 768px) {
    .page {
        &-home {
            //background-image: url("../img/bg/bg-home.png");
            
            // background-image: url('../img/bg2/bg-pattern.svg');
            // background-size: 144rem;
            // background-repeat: no-repeat;
            // background-position: center;

            .hero{
                background-image: url('../img/hero2/bg-trees.png');
                background-position: center top;
                background-size: 107.2rem;
            }
        }

        .home {
            &__info {
                width: 60.5rem;
                margin-bottom: 1.8rem;
                padding: 2rem 5rem;
                border-radius: 3.5rem;
                background-color: rgb(255 255 255 / 90%);
                text-align: center;

                &-content {
                    //padding-bottom: 1.8rem;
                    .btn{
                        margin-top: 1.8rem;
                    }
                }

                &-price {
                    display: flex;
                    width: 60.5rem;
                    padding: 2rem 3.2rem 10rem;
                    border-radius: 3.5rem;
                    background: linear-gradient(180deg, #FFF 0%, rgb(153 153 153 / 0%) 100%);

                    .info {
                        flex-shrink: 0;
                        width: 27.2rem;
                    }
                }
            }

            &__footer-img {
                margin-top: -34rem;
                text-align: center;
                width: 100%;
                object-fit: contain;
                display: flex;

                img {
                    width: 100%;
                }
            }
        }
    }
}
