.page{
    position: relative;
  
      &::after{
        content: "";
  
        position: fixed;
        z-index: -1;
        inset: 0;
  
        background: linear-gradient(180deg, #26D6FD 0%, #0035BA 100%);
      }
  
      &-home{
        background-image: url("../img/bg/bg-mobile.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100vw;
      }
  }
  
  .home{
    &__info{

      // &-content{
      //   background-color: rgb(255 255 255 / 90%);
      //   border-radius: 2.6rem;
      //   padding: .8rem 1.3rem;
      //   text-align: center;
      //   margin-bottom: 1rem;

      //   .btn{
      //     margin-top: .8rem;
      //   }
      // }
      
    }
  
    &__info-price{
      display: flex;
  
      width: 60.5rem;
      padding: 2rem 3.2rem 10rem;
      border-radius: 3.5rem;
  
      background: linear-gradient(180deg, #FFF 0%, rgb(153 153 153 / 0%) 100%);
  
      .info{
        flex-shrink: 0;
        width: 27.2rem;
      }
  
      .info-text{
        padding-bottom: 1.8rem;
      }
    }
  
    &__footer-img{
      margin-top: -34rem;
      text-align: center;
      width: 100%;
      object-fit: contain;
        img{
          width: 100%;
        }
  
    }
  }  

@media (width <= 767px){
  .page{

    .home{
      &__info{
        &-content{
          background-color: rgb(255 255 255 / 90%);
          border-radius: 2.6rem;
          padding: .8rem 1.3rem;
          text-align: center;
          margin-bottom: 1rem;

          .btn{
            margin-top: .8rem;
          }
        }
      }
    }

  }
}

@media (width >= 768px){
  .page{
      &-home{
        background-image: url("../img/bg/bg-home.png");
      }


      .home{
        &__info{
          width: 60.5rem;
          margin-bottom: 1.8rem;
          padding: 2rem 5rem;
          border-radius: 3.5rem;
          background-color: rgb(255 255 255 / 90%);
          text-align: center;
      
          
      
          &-content{
            padding-bottom: 1.8rem;
          }
        }
      }


  }
}

