.page {
    &-instructions {
        main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .box__btn {
            display: flex;
            justify-content: center;
            padding-bottom: 3.5rem;
        }

        // .home__info-content{
        //     text-align: left;
        //     padding-bottom: 1.6rem;
        // }


    }

    &-instructions-mac,
    &-instructions-windows,
    &-instructions-iphone,
    &-instructions-android,
    &-instructions-other {
        main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .box__btn {
            display: flex;
            justify-content: center;
            padding-bottom: 3.5rem;
        }
    }
}

.instructions{
    &__info {
        max-width: 60.5rem;
        margin-bottom: 1.8rem;
        padding: 2rem 5rem;
        border-radius: 3.5rem;
        background-color: rgb(255 255 255 / 90%);

        .title{
            text-align: center;
        }

        &-btn{
           text-align: center;
        }

        &-content {
            padding-bottom: 1.8rem;
            .btn{
                margin-top: 1.8rem;
            }
        }
    }
}

.instructions__btns {
    text-align: center;

    &-box {
        padding-bottom: 1.5rem;
    }
}



.instructions-mac {
    &__info {
        margin-bottom: 1.8rem;
        padding: 2rem 5rem;
        border-radius: 3.5rem;
        background-color: rgba(255, 255, 255, 0.9);

        .title {
            text-align: center;

            &__left{
                padding-bottom: 1rem;
                font-size: 2.4rem;
                font-weight: 700;
                text-align: left;
            }
        }
    }
}

.instructions{
    &__info-box{
        background-color: #E0E0E0;
        border-radius: 2rem;
        padding: .5rem 3.5rem;
    }

    &__ul{
        list-style-position: inside;
        padding-left: 2rem;
    }
}



@media (width <= 767px) {
    .page {
        &-instructions {
            //background-image: url("../img/bg/bg-instructions-mobile-2x.png");
            main {
                min-height: 100vh;
            }
        }

        &-instructions-mac {
           // background-image: url("../img/bg/bg-instructions-mobile-mac2x.png");
        }

        &-instructions-windows {
            //background-image: url("../img/bg/bg-instructions-mobile-mac2x.png");
        }

        &-instructions-iphone {
            //background-image: url("../img/bg/bg-instructions-mobile-mac2x.png");
        }

        &-instructions-android {
           // background-image: url("../img/bg/bg-instructions-mobile-mac2x.png");
        }

        &-instructions-other {
           // background-image: url("../img/bg/bg-instructions-mobile-mac2x.png");
        }

        &-instructions-mac,
        &-instructions-windows,
        &-instructions-iphone,
        &-instructions-android,
        &-instructions-other {
            .hero{
                padding: 0;
                height: 17.1rem;
            }
         }

         &-instructions-iphone{
            .hero{
                padding-top: 1.8rem;
            }
         }
         &-instructions-android{
            .hero{
                padding-top: 2.1rem;
            }
         }
    }

    .win {
        &-1 {
            width: 8.7rem;
            height: 8.3rem;
        }
        &-2 {
            max-width: 100%;
            width: 32.8rem;
            height: 26.2rem;
        }

        &-3 {
            width: 25rem;
            height: 24.4rem;
        }

        &-4 {
            width: 28.9rem;
            height: 14.4rem;
        }
    }
}

@media (width >= 768px) {
    .page {
        &-instructions {
           background-image: url("../img/bg2/bg-instructions.png");
        }

        &-instructions-mac {
            background-image: url("../img/bg2/bg-instructions-mac.png");
        }

        &-instructions-windows {
            background-image: url("../img/bg2/bg-instructions-win.png");
        }

        &-instructions-iphone {
            background-image: url("../img/bg2/bg-instructions-iphone.png");
        }

        &-instructions-android {
            background-image: url("../img/bg2/bg-instructions-android.png");
        }

        &-instructions-other {
            background-image: url("../img/bg2/bg-instructions-other.png");
        }
    }

    .win {
        &-1 {
            max-width: 109px;
            max-height: 105px;
            width: 10.9rem;
            height: 10.5rem;
        }
        &-2 {
            max-width: 381px;
            max-height: 304px;
            width: 38.1rem;
            height: 30.4rem;
        }

        &-3 {
            max-width: 285px;
            max-height: 278px;
            width: 28.5rem;
            height: 27.8rem;
        }

        &-4 {
            max-width: 330px;
            max-height: 164px;
            width: 33rem;
            height: 16.4rem;
        }
    }

    .iphone{
        &-1 {
            width: 27.7rem;
            height: 33.1rem;
        }
        &-2 {
            width: 27.5rem;
            height: 35.5rem;
        }

        &-3 {
            width: 27.4rem;
            height: 41.1rem;
        }

        &-4 {
            width: 27.3rem;
            height: 38.7rem;
        }

        &-5 {
            width: 27.4rem;
            height: 41.1rem;
        }
        
        &-6 {
            width: 27.8rem;
            height: 41.8rem;
        }
        
        &-7 {
            width: 27.7rem;
            height: 41.5rem;
        }
        
        
    }

    .android{
        &-1 {
            width: 26.6rem;
            height: 39.9rem;
        }
        &-2 {
            width: 26.8rem;
            height: 40.2rem;
        }

        &-3 {
            width: 26.7rem;
            height: 40.1rem;
        }

        &-4 {
            width: 26.8rem;
            height: 40.1rem;
        }

        &-5 {
            width: 26.8rem;
            height: 40.2rem;
        }
        
        &-6 {
            width: 27.3rem;
            height: 41rem;
        }
        
        &-7 {
            width: 27.5rem;
            height: 25.7rem;
        }
        &-8 {
            width: 27.3rem;
            height: 36.2rem;
        }
        &-9 {
            width: 27.2rem;
            height: 40.9rem;
        }

        &-10 {
            width: 27.2rem;
            height: 40.8rem;
        }

        &-11 {
            width: 27.2rem;
            height: 40.8rem;
        }

        &-12 {
            width: 27.7rem;
            height: 41.6rem;
        }
        
        &-13 {
            width: 27.7rem;
            height: 37.8rem;
        }
        
    }
}
