.page {
    &-rules{

        main{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .box__btn{
            display: flex;
            justify-content: center;
            padding-bottom: 3.5rem;
        }
    }
}

.rules{
    &__info{
        border-radius: 3.5rem;
        background-color: #fff;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (width <= 767px) {
    .page {

        &-rules{
            background-image: url("../img/bg/bg-rules-mobile-2x.png");
            main{
                min-height: 100vh;
            }
        }
    }
}


@media (width >= 768px) {
    .page {
        &-rules {
            background-image: url("../img/bg/bg-rules.png");
        }
    }
}