/* ==========  Global  ========== */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 2.4vw;

    //1440  10/(414/100) = 2.4
    height: 100%;
}

html,
body {
    position: relative;
    width: 100%;
    min-width: 320px;

    // font-size: 10px;
}

body {
    font-family: "Istok Web", sans-serif;
    font-size: 1.6rem;

    // background: linear-gradient(180deg, #26D6FD 0%, #0035BA 100%);
}

p {
    font-size: 1.6rem;
    line-height: 2.3rem;
}

.container {
    width: calc(100% - 3.4rem);
    margin: 0 1.7rem;
}

.title {
    padding-bottom: 2rem;
    font-size: 2.4rem;
    font-weight: 700;
}

.text-700 {
    font-weight: 700;
}

ul{
    list-style-position: inside;
    padding-left: 2rem;
}

ul.empty-marker{
    list-style: none;
    padding-left: 2rem;
}

main {
    min-height: calc(100vh - 14.7rem);
}

.img__box{
    margin: 0 auto;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.go-top {
  z-index: 10000;
  position: fixed;
  right: 10%;
  bottom: -20%;
  transform: translateY(-50%);
  cursor: pointer;
  border-radius: 50%;
  background-color: #D9D9D9;
  transition: opacity .5s ease-in-out, overflow .5s ease-in-out;
  width: 5.2rem;
  height: 5.2rem;
  opacity: 0;
  overflow: hidden;

  &::before{
    content: '';
    background-image: url(../img/go-top.svg);
    width: 3.2rem;
    height: 3.6rem;
    background-size: contain;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.go-top--show {
    bottom: 10%;
    opacity: 1;
    overflow: visible;
    transition: opacity .5s ease-in-out, overflow .5s ease-in-out; 
}

.cards{
    display: flex;
    justify-content: space-around;
}

@media (width <= 320px){
    html {
        font-size: 8px;
    }
}

@media (width <= 767px) {
    .m-none {
        display: none;
    }

    .page {
        main {
            padding-bottom: 5.4rem;
        }
    }

    .cloud{
        &__left{
            background-image: url(../img/bg2/bg-cloud.png);
            height: 17rem;
            width: 14rem;
            display: block;
            z-index: 5;
            position: absolute;
            background-size: 36rem;
            background-position-x: -1.8rem;
            background-position-y: -5rem;
        }

        &__right{
            background-image: url(../img/bg2/bg-cloud.png);
            height: 18rem;
            width: 14rem;
            display: block;
            z-index: 5;
            position: absolute;
            right: 0;
            background-size: 36rem;
            background-position-x: 15rem;
            background-position-y: -5rem;
        }
    }

    .go-top--show{
        right: .5rem;
        bottom: 4rem;
    }
}

@media (width >= 768px) {
    html {
        font-size: 0.694vw;
    }



    .page{
        .page__bg{
            background-image: url('../img/bg2/bg-pattern.svg');
            background-size: 144rem;
            background-repeat: no-repeat;
            background-position: center;
        }

    }

    .container {
        width: 60.5rem;
        margin: 0 auto;
    }

    .cloud{
        &__left{
            background-image: url(../img/bg2/bg-cloud.png);
            height: 58rem;
            width: 34rem;
            display: block;
            z-index: 5;
            position: absolute;
            background-size: 92rem;
            background-position-x: -1.8rem;
        }

        &__right{
            background-image: url(../img/bg2/bg-cloud.png);
            height: 58rem;
            width: 34rem;
            display: block;
            z-index: 5;
            position: absolute;
            right: 0;
            background-size: 92rem;
            background-position-x: 38.5rem;
            background-position-y: -1.5rem;
        }
    }

    .cloud-mini{
        &__left{
            &-1{
                display: block;
                position: absolute;
                width: 17rem;
                height: 10rem;
                top: 61rem;
                background-image: url('../img/bg2/bg-cloud-mini.png');
                background-size: 92rem;
                background-position-y: 14rem;
                background-position-x: -1rem;
            }

            &-2{
                display: block;
                position: absolute;
                width: 15rem;
                height: 10rem;
                top: 82rem;
                background-image: url('../img/bg2/bg-cloud-mini.png');
                background-size: 92rem;
                background-position-y: 13rem;
                background-position-x: -71rem;
                transform: scale(-1, 1);
            }

        }

        &__right{
            &-1{
                display: block;
                position: absolute;
                width: 24rem;
                height: 7rem;
                top: 65rem;
                right: 0;
                background-image: url('../img/bg2/bg-cloud.png');
                background-size: 120rem;
                background-position-y: 7rem;
                background-position-x: 27rem;
            }

            &-2{
                display: block;
                position: absolute;
                width: 24rem;
                height: 17rem;
                top: 82rem;
                right: 0;
                background-image: url('../img/bg2/bg-cloud-mini.png');
                background-size: 92rem;
                background-position-y: 17rem;
                background-position-x: 24rem;
            }                    
        }
    }
}
