.btn{
  &-green{
    position: relative;

    display: inline-flex;
    gap: .6rem;
    align-items: center;

    padding: 1rem 1.3rem;
    border-radius: 10rem;

    font-size: 1.6rem;
    font-weight: 800;
    font-style: normal;
    line-height: 1.7rem;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.8px;

    background-color: #00C234;

    .text{
      padding-top: .2rem;
    }
  }

  &-blue{
    position: relative;

    display: inline-flex;
    gap: .8rem;
    align-items: center;

    padding: .5rem .8rem;

    border-radius: 10rem;

    font-size: 1.6rem;
    font-weight: 800;
    font-style: normal;
    line-height: 1.7rem;
    color: #FFF;
    text-decoration: none;
    letter-spacing: 0.8px;

    background-color: #26D6FD;
  }

  .icon{
    &-telegram{
      display: inline-flex;
      width: 1.8rem;
      height: 1.5rem;
      background-image: url("../img/ico/telegram.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &:active {
    color: #fff;
    background-color: #034A6D;
  }
}


@media (hover: hover){
  .btn{
    &-green{
      transition: background-color 0.4s ease-in-out;

      &:hover{
        background-color: #008824;
      }

      &:active {
        background-color: #034A6D;
      }

    }

    &-blue{
      transition: background-color 0.4s ease-in-out;

      &:hover{
        background-color: #1BBADE;
      }

      &:active {
        background-color: #034A6D;
      }

    }
  }
}

@media (width >= 768px){

  .btn{

    &-blue{
      gap: 1.3rem;
      padding: 1.4rem 2.2rem 1.2rem;
    }

    &-green{
      gap: 1.3rem;
      padding: 1.4rem 2.2rem 1.2rem;
    }

    .icon{
      &-telegram{
        width: 2.6rem;
        height: 2.2rem;
      }
    }

  }


}
