.footer{
  height: 8.8rem;
  padding-top: 3.2rem;
  box-shadow: 0 -.6rem 1.4rem 0 rgba(0, 0, 0, 0.8);
  background: linear-gradient(90deg, #0651C6 0%, #032760 100%);
  position: relative;

    .container{
      width: 45rem;
    }

    &__nav{
    display: flex;
    justify-content: space-between;

    &-item{
      padding: .2rem .8rem;
      border-radius: 3.5rem;

      color: #fff;
      text-decoration: none;
      text-transform: uppercase;



      &:active {
        color: #fff;
        background-color: #032C6C;
      }
    }

  }

}


@media (hover: hover){
   .footer {
    &__nav{
      &-item{
          transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

        &:hover{
          color: #000;
          background-color: rgb(255 255 255 / 90%);
        }

        &:active {
          color: #fff;
          background-color: #032C6C;
        }
      }
    }
  }
}
